<div class="container__body">
    <div class="container__info">
        <div class="tittle">
            <h1 class="text">MONTES DEL RETIRO</h1>
        </div>
        <div class="info">
            <p class="text__payande">P A Y A N D E</p>
        </div>
        <div class="info__2">
            <p class="text__payande">Villeta Cund.</p>
        </div>
        <div class="info__3">
            <p class="text__payande">Lotes y casas para que disfrutes la experiencia de Vivir entre Montes.</p>
        </div>
        <div class="info__4">
            <p class="text__payande">En Villeta, clima cálido a tan solo una hora de Bogotá, un lugar rodeado de</p> 
            <p class="text__payande">naturaleza, ambientes frescos y tranquilos ideales para descansar</p>
            <p class="text__payande">y disfrutar en familia, con dos autopistas y una de ellas</p>
            <p class="text__payande">de doble calzada con separador haciendo el regreso</p> 
            <p class="text__payande">a la capital rápido, seguro y placentero.</p>
        </div>
    </div>
    <div class="container__image">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/images/CASA-EXTERIOR-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/CASA-INTERIOR-1-1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/montes del retiro 1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/montes 2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    </div>

</div>
<div class="container__body">
    <div class="container__info4">
        <div class="style__text text__one">
            <h1>¿No sabes qué lote elegir?</h1>
        </div>
        <div class="style__text text__second">
            <p>Responde 5 preguntas sobre tu estilo de vida y te ayudamos a encontrar la mejor opción</p>
        </div>
        <button class="boton" routerLink="/habitat/busca-tu-lote">Quiero que me ayuden</button>
    </div>
</div>
<div class="container__body">
    <div class="container__info3">
        <div class="home">
            <img src="../../../assets/icons/Home.png" class="logo" alt="">
        </div>
        <div class="style__text text__tree">
            <h1>Lotes y Casas</h1>
        </div>
        <div class="style__text text__tree">
            <p> * Lotes desde 2.117 m2</p>
            <p> * Precios desde $337 millones</p>
            <p> * Construimos tu casa a tu medida</p>
        </div>
    </div>
    <div class="container__info2">
        
    </div>
</div>
<div class="container__body">
    <div class="container__info4 zone">
        <div class="style__text text__four">
            <h1>ZONAS SOCIALES</h1>
        </div>        
    </div>
</div>

<div class="container__body fotos">
    <div class="container__info5">
        <img src="../../../assets/images/Ciclista-1.jpg" class="image" alt="">
    </div>
    <div class="container__info5">
        <img src="../../../assets/images/Corredores-1.jpg" class="image" alt="">
    </div>
    <div class="container__info5">
        <img src="../../../assets/images/Golf-1.jpg" class="image" alt="">
    </div>
    <div class="container__info5">
        <img src="../../../assets/images/tenis-1.jpg" class="image" alt="">
    </div>
    <div class="container__info5">
        <img src="../../../assets/images/Cancha-multiple-1.jpg" class="image" alt="">
    </div>
    <div class="container__info5">
        <img src="../../../assets/images/Senderos-Naturales-1.jpg" class="image" alt="">
    </div>
</div>