<div class="container__asistente">
    <div class="text__five">
        <h1>¿De cuántos metros cuadrados (m2) quieres tu lote?</h1>
    </div>
    <div class="seleccion">
        <div class="posicion__boton">
            <button class="boton button__m" (click)="evento1()" routerLink="/habitat/busca-tu-lote/vender-rentar-inversion">300 m2 (aprox.)</button>
            <button class="boton button__m" (click)="evento2()" routerLink="/habitat/busca-tu-lote/vender-rentar-inversion">400 m2 (aprox.)</button>
            <button class="boton button__m" (click)="evento3()" routerLink="/habitat/busca-tu-lote/vender-rentar-inversion">600 m2 (aprox.)</button>
        </div>
        <div>
            <img src="../../../assets/images/Ciclista-1.jpg" class="image__2" alt="">
        </div>
    </div>
</div>