<div class="container__asistente">
    <div class="text__five">
        <h1>Deseas adquirir un lote para...</h1>
    </div>
    <div class="seleccion">
        <div class="posicion__boton">
            <button class="boton button__m" routerLink="/habitat/busca-tu-lote/construir-vivir" (click)="eventoclick()">Construir y vivir</button>
            <button class="boton  button__m" routerLink="/habitat/busca-tu-lote/construir-vivir">Construir y rentar/vender</button>
            <button class="boton  button__m" routerLink="/habitat/busca-tu-lote/construir-vivir">Inversion</button>
        </div>
        <div>
            <img src="../../../assets/images/familia.jpg" class="image__2" alt="">
        </div>
    </div>
</div> 