<!-- <div class="container_header">
  <div class="header">
    <button class="button">Acceder</button>
    <div class="logo">
      <h1 class="logo__text">Pagina de prueba</h1>
    </div>
    <div class="container-redes">
      <a href="https://www.youtube.com/channel/UCU0PmiJoPudk9WZ0DebZ8xA">
          <img src="assets/icons/youtube.png" class="redes__icon" alt="">
      </a> 
      <a href="https://instagram.com/jcubillos7?igshid=YmMyMTA2M2Y=">
          <img src="assets/icons/instagram.png" class="redes__icon" alt="">
      </a> 
      <a href="https://www.facebook.com/jcubillos7">
          <img src="assets/icons/facebook.png" class="redes__icon" alt="">
      </a> 
      <a href="https://vm.tiktok.com/ZMNHs23wH/">
          <img src="assets/icons/tik-tok.png" class="redes__icon" alt="">
      </a>  
    </div>
  </div>
</div> -->

<div class="container_header">
  <div class="logo__habitad">
    <img src="../../../assets/icons/habitad.png" routerLink="/habitat" alt="">
  </div>
  <div class="select__text">
    <div class="header__text">
      <a>Acerca del desarrollo</a>
    </div>
    <div class="header__text">
      <p>Ubicación</p>
    </div>
    <div class="header__text">
      <p routerLink="/habitat/busca-tu-lote">Te ayudamos a elegir tu lote</p>
    </div>
    <div class="header__text">
      <p>Acerca del desarrollador</p>
    </div>
    <div class="header__text">
      <p>Certeza jurídica</p>
    </div>
  </div>
</div>