<div class="container_header">
  <div class="header">
    <button class="button">Acceder</button>
    <div class="logo">
      <h1 class="logo__text">Pagina de prueba</h1>
    </div>
    <div class="container-redes">
      <a href="https://www.youtube.com/channel/UCU0PmiJoPudk9WZ0DebZ8xA">
          <img src="assets/icons/youtube.png" class="redes__icon" alt="">
      </a> 
      <a href="https://instagram.com/jcubillos7?igshid=YmMyMTA2M2Y=">
          <img src="assets/icons/instagram.png" class="redes__icon" alt="">
      </a> 
      <a href="https://www.facebook.com/jcubillos7">
          <img src="assets/icons/facebook.png" class="redes__icon" alt="">
      </a> 
      <a href="https://vm.tiktok.com/ZMNHs23wH/">
          <img src="assets/icons/tik-tok.png" class="redes__icon" alt="">
      </a>  
    </div>
  </div>
</div>